<div class="height-100 bg-light d-flex justify-content-center align-self vw-100">
    <div class="container mt-5">
        <div class="card p-3 mt-2 post-link">
            <div class="d-flex justify-content-between align-items-center">
                <div class="user d-flex flex-row align-items-center">
                    <span>
                        <small class="font-weight-bold">{{comment.message}} </small>
                    </span> 
                </div> 
            </div>
            <div class="action d-flex justify-content-between mt-2 align-items-center">
                <div class="icons align-items-center"> <i class="fa fa-check-circle-o check-icon text-primary"></i> </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-10" *ngFor="let data of datas">
                <app-post-comment [data]="data"></app-post-comment>
            </div>
            <ng-container *ngIf="datas.length === 0">
                <div class="d-flex flex-row align-items-start mt-5">
                    <textarea #replyInput class="form-control ml-1 shadow-none textarea"></textarea>
                </div>
                <div class="mt-2 text-right">
                    <button class="btn btn-primary btn-sm shadow-none" type="button" (click)="postComment(replyInput.value)">Post comment</button>
                    <button class="btn btn-outline-primary btn-sm ml-1 shadow-none" type="button">Cancel</button>
                </div>
            </ng-container>
        </div>
    </div>
</div>

